@import "_reset";
/*******************************************************************
*****************************Header area start**********************
********************************************************************/

header {
    background-color: #252525;
}

.top-menu {
    border-bottom: 1px solid #323232;

    .coustomer-support {
        .ContentWrapper {
            font-size: .9rem;

            ul {
                margin-left: -16px !important;


                li {
                    position: relative;

                    a {
                        color: #fff !important;

                    }

                    .orsign:before {
                        content: '';
                        background-color: #323232;
                        position: absolute;
                        top: 0;
                        left: 2px;
                        width: 3px;
                        height: 24px;

                    }

                }

            }
        }
    }

    .option-div {
        .ContentWrapper {
            margin-right: 13px;

            .language {
                position: relative;
            }

            .wishlist {
                position: relative;
            }

        }
    }
}

.language:before {
    content: '';
    background-color: #323232;
    position: absolute;
    top: 0;
    left: 2px;
    width: 3px;
    height: 24px;

}

.wishlist:before {
    content: '';
    background-color: #323232;
    position: absolute;
    top: 16;
    left: -11px;
    width: 3px;
    height: 24px;

}

.m-right {
    margin-right: .2rem;
}

select {
    border: 0px;
    background-color: #252525;
    color: #fff;
}

/*********sub menu**************/
#categorie,
.inputbackGround {
    color: #000;
    border-radius: 5px;
    background: #fff !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

button {

    background-color: #f33535 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

    .searchbtn {
        color: #fff;
    }
}

.shop-wrapper {
    .shop-bag {
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid #fff;
        border-radius: 100%;

        i {
            margin-left: 4px;
            position: relative;
        }

        :after {
            content: 'C';
            position: absolute;
            background-color: #f33535;
            top: -1rem;
            left: 7px;
            border-radius: 100%;
            width: 1rem;
            height: 1rem;

        }
    }

    .mycart {


        p {

            span {
                color: #f33535;
            }
        }


    }
}



/*****************************Main nav-bar*******************************/
.main-navbar {
    background-color: #f33535;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.userAccount {
    background-color: #e8b30d;
    border-radius: 5px;

    .dropdown {
        #navbarDropdown {
            color: #fff;
        }
    }


}

/*******************************************************************
***************************** Section area start********************
********************************************************************/
#topSection {
    height: 84vh;

    background: #f2f3f7;

    .catagoriMenu {
        ul {
            padding-left: 0rem;

            li {
                background-color: #fff;
                padding: .7rem 0rem;
                position: relative;



                &:hover {
                    background-color: #f7f7f7;
                    border-left: 2px solid #f33535;
                }

                h3 {

                    padding: .1rem .8rem;
                    font-size: 1rem;
                    color: #fff;
                }

                a {
                    padding: 0.1rem 0.8rem;
                    font-size: 0.8rem;
                    color: #807676;


                    span {

                        i {
                            font-size: 0.8rem;
                            position: absolute !important;
                            top: 19px;
                            right: 0.6rem;
                            color: #9a9292
                        }
                    }
                }
            }
        }
    }

    .background-red {
        background: #f33535 !important;
    }

    /****************slider css***********************/
    .bg-color {


        overflow: hidden !important;

        #carouselExampleControls {
            position: relative;
            height: 79.5vh !important;
            background-color: #f8ddca;

            .carousel-inner {


                .carousel-item {
                    .slidertext {
                        width: 12rem;
                        margin-left: 5rem;
                        margin-bottom: 6rem;

                        h2 {
                            margin-bottom: 2rem;
                        }

                        p {
                            line-height: .6rem;

                            span {
                                font-size: 1.6rem;
                                color: #f33535;

                            }
                        }

                    }


                }

                .img-wrapper {
                    width: 65%;
                    height: 79.5vh;

                    .schoolbag {
                        width: 40% !important;
                        margin-left: 14rem;
                        margin-top: 5rem;
                    }

                    .watchimg {
                        width: 69% !important;
                        margin-left: 5rem;
                        margin-top: 4rem;
                    }

                    img {
                        width: 100%;
                        margin-left: 0rem;
                    }
                }
            }



            button {
                position: absolute !important;
                width: 28px !important;
                height: 33px;
                top: 44%;
                border-radius: 5px !important;
            }
        }
    }

    /*********************watch section***********************************/
    .watchCol {
        height: 65vh;


        .watch-div {
            background-color: #95d2f1;
            height: 58%;
            position: relative;

            .watch-content {
                h4 {
                    position: relative;
                    margin-left: .6rem;
                    font-size: 1.3rem;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 25px;
                        left: 2px;
                        background: #000;
                        width: 49%;
                        height: 8%;

                    }
                }

                img {
                    width: 84%;
                    position: absolute;
                    top: 4.3rem;
                    right: 0rem;
                }
            }

        }
    }

    .changeColor {
        background: #f9cdda !important;

        h4 {

            &:after {
                content: "";
                position: absolute;
                top: 25px;
                left: 2px;
                background: #000;
                width: 74% !important;
                height: 8%;

            }
        }
    }
}

/********************shopNow Section******************************/
#shopNow {
    background-color: #f2f3f7;
    padding-bottom: 4rem;

    .menCollection {
        height: 52vh;
        background-image: url("../img/mencollection.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        position: relative;
        transition: all .5s !important;

        &:hover .menText {
            display: block;

        }

        .menText {
            text-align: center;
            background: black;
            width: 9rem;
            padding: 10px 0rem;
            border: 2px solid #fff;
            position: absolute;
            top: 15rem;
            left: 11%;
            display: none;


            a {
                color: #fff;
                font-size: .8rem;
            }
        }

    }

    /*********************Our Service*********************/
    .ourService {
        height: 56vh;
        background: #fff;
        margin-top: 1rem;

        .title {
            background: red;

            h3 {
                margin-left: .6rem;
                font-size: 1rem;
                padding: .5rem 0;
                color: #fff;
            }
        }

        .serviceWrapper {
            ul {

                .servicelist {
                    margin-left: -2rem;
                    border-bottom: 1px solid#e2e2e2;
                    height: 12vh;



                    .serviceCntentWrapper {


                        img {
                            width: 34%;
                            max-width: 5rem;
                            margin-top: -.5rem;

                        }

                        .mainContentWrapper {

                            h6 {
                                font-size: .7rem;
                                margin-top: 1rem;
                            }


                            p {
                                font-size: 0.7rem;
                                margin-top: -.3rem;
                            }
                        }

                    }
                }
            }
        }


    }

    .border0 {
        border-bottom: 0px solid !important;
    }

    /******************Best sell***********************/
    .bestSellers {
        height: 58vh;
        background: #fff;
        margin-top: 1rem;

        .besttitle {
            background: red;


            h3 {
                margin-left: .6rem;
                font-size: 1rem;
                padding: .5rem 0;
                color: #fff;
            }
        }

        .bestsellwrapper {
            padding: 0 .5rem;


            .list {
                margin-top: .7rem;
                margin-left: -2rem;
                height: 11vh;

                .imgWrapper {
                    background: #f7f7f7;


                    img {
                        width: 3.5rem;
                    }
                }

                .textPrice {
                    margin-left: .2rem;

                    a {
                        h6 {
                            font-size: .7rem;
                        }
                    }

                    .stars {
                        margin-top: -.4rem;

                        i {
                            font-size: .7rem;
                            color: #feba29;
                        }
                    }

                    .price {
                        p {
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }

    .newsletter {
        height: 45vh;
        background: #fff;
        margin-top: 1rem;

        .newstitle {
            background: red;

            h3 {
                margin-left: .6rem;
                font-size: 1rem;
                padding: .5rem 0;
                color: #fff;
            }
        }

        .newswrapper {
            margin: 0 .2rem;

            img {
                width: 6rem;
                margin-left: 1.4rem;
            }

            p {
                padding: 0 .6rem;
                font-size: .6rem;
            }

            form {
                input {
                    width: 100%;
                    border: 2px solid #e2e2e2;
                    padding: .4rem;
                    font-size: 0.9rem;
                    text-align: center;
                }

                button {
                    color: #fff;
                    background: #252525 !important;
                    margin-left: 16%;
                    border-radius: 5px !important;
                }
            }
        }
    }

    /****************************exclusive div**********************************/
    .exclusive {
        height: 26vh;
        background: #fff;
        margin-top: 1rem;
        padding: 1rem;
        height: 21vh;

        .excwrapper {
            position: relative;
            border: 3px solid #e2e2e2;
            height: 16vh;


            h6 {
                margin-top: 1.3rem;
                color: #252525;

                &:after {
                    content: '';
                    position: absolute;
                    top: 45px;
                    left: 33px;
                    background: #252525;
                    width: 55%;
                    height: 4%;

                }
            }

            p {
                font-size: .7em;
                font-weight: 700;
                line-height: 1.5rem;
                color: #252525;
            }


        }
    }
}

/*******************************Right site service**************************************/
.dealDiv {
    height: 54vh;
    background: #fff;
    border: 2px solid #f33535;

    .dealtext {
        background: red;

        h3 {
            margin-left: .6rem;
            font-size: 1rem;
            padding: .5rem 0;
            color: #fff;
        }
    }

    .dealContentWrapper {
        padding: 0 0.2rem;



        .imgwrapper {
            background: #f7f7f7;
            height: 19.5vh;

            .new {
                background-color: black;
                width: 2.5rem;

                p {
                    color: #fff;
                    text-align: center;
                    font-size: .7rem;
                }
            }

            img {
                width: 52%;
                margin-top: -1.5rem;
                margin-left: 24%;
            }

            .hovereffect {
                width: 7.5rem;
                margin: auto;
                margin-top: -3.5rem;

                .btn {
                    width: 2rem;
                    background: #fff !important;
                    height: 2rem;
                    border-radius: 5px !important;
                    margin-left: 0.4rem;
                    position: relative;
                    border: 1px solid #d9d9d9;

                    .icon {
                        margin-top: -7px;
                        transition: .6s;
                        position: absolute;
                        margin-left: -8px;

                    }

                    &:hover {
                        background: #f33535 !important;
                        border: #f33535;
                        color: #fff;

                    }

                }
            }
        }

        .priceContentWrapper {


            .stars {
                color: #e8b30d;
                margin-top: -0.8rem;
            }


        }


        .dayCounter {

            width: 82%;
            margin: auto;

            .day {


                #inday {
                    text-align: center;
                    width: 153%;
                    height: 5vh;
                    background: #f7f7f7 !important;
                }


                p {
                    font-size: 0.7rem;
                }
            }


            .hours {
                margin-left: 12%;

                #inhoure {
                    text-align: center;
                    width: 97%;
                    height: 5vh;
                    background: #f7f7f7 !important;
                }

                p {
                    font-size: 0.7rem;
                }
            }

            .minuts {
                margin-left: 2%;

                #inminuts {
                    text-align: center;
                    width: 112%;
                    height: 5vh;
                    background: #f7f7f7 !important;
                }

                p {
                    font-size: 0.7rem;
                }
            }

            .second {
                margin-left: 5%;

                #insecond {
                    text-align: center;
                    width: 153%;
                    height: 5vh;
                    background: #f7f7f7 !important;
                }

                p {
                    font-size: 0.7rem;
                }
            }
        }
    }
}

/*******************Dealhover css**********************/
.btn1 {
    opacity: 0;
    transition: .9s;
    transform: translatey(-15px);
}

.btn2 {
    opacity: 0;
    transition: .6s;
    transform: translatey(-15px);

}


.btn3 {
    opacity: 0;
    transition: .3s;
    transform: translatey(-15px);
}

.dealDiv:hover .btn {
    opacity: 1;
    transform: translatey(10px);
}

/*******************Dealhover css end**********************/
/************************testmonial slider css*********************/

/************************testmonial slider css end*********************/
/*********************fashion bag css**************************/
.fashionbag {
    background: #fff;
    margin: 1.5rem 0;
    height: 42vh;
    background: #e3dacb;

    .fashiontextWrapper {

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: .8rem;
        }

        a {
            padding: 0.2rem .5rem;
            border: 1px solid black;
            font-size: .8rem;
            color: black;
        }

        img {
            width: 60%;
        }
    }
}

/*********************fashion bag end**************************/
/*******************************latest product*************************/
.latestproduct {
    height: 58vh;
    background: #fff;
    margin-top: 1rem;

    .latestttitle {
        background: red;


        h3 {
            margin-left: .6rem;
            font-size: 1rem;
            padding: .5rem 0;
            color: #fff;
        }
    }

    .latestwrapper {
        padding: 0 .5rem;


        .list {
            margin-top: .7rem;
            margin-left: -2rem;
            height: 11vh;

            .imgWrapper {
                background: #f7f7f7;


                img {
                    width: 3.5rem;
                }
            }

            .textPrice {
                margin-left: .2rem;

                a {
                    h6 {
                        font-size: .7rem;
                    }
                }

                .stars {
                    margin-top: -.4rem;

                    i {
                        font-size: .7rem;
                        color: #feba29;
                    }
                }

                .price {
                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}