@import "_reset";
/*******************************************************************
*****************************Header area start**********************
********************************************************************/

header {
    background-color: #252525;
}

.top-menu {
    border-bottom: 1px solid #323232;

    .coustomer-support {
        .ContentWrapper {
            font-size: .9rem;

            ul {
                margin-left: -16px !important;


                li {
                    position: relative;

                    a {
                        color: #fff !important;
                        font-size: .8rem;

                    }

                    .orsign:before {
                        content: '';
                        background-color: #323232;
                        position: absolute;
                        top: 0;
                        left: 2px;
                        width: 3px;
                        height: 24px;

                    }

                }

            }
        }
    }

    .option-div {
        .ContentWrapper {
            margin-right: 13px;

            .currency {
                font-size: .8rem;
            }

            .language {
                font-size: .8rem;
                position: relative;

            }

            .wishlist {
                font-size: .8rem;
                position: relative;
            }

        }
    }
}

.language:before {
    content: '';
    background-color: #323232;
    position: absolute;
    top: 0;
    left: 2px;
    width: 3px;
    height: 24px;

}

.wishlist:before {
    content: '';
    background-color: #323232;
    position: absolute;
    top: 16;
    left: -11px;
    width: 3px;
    height: 24px;

}

.m-right {
    margin-right: .2rem;
}

select {
    border: 0px;
    background-color: #252525;
    color: #fff;

}

/*********sub menu**************/
#categorie,
.inputbackGround {
    color: #000;
    border-radius: 5px;
    background: #fff !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

button {

    background-color: #f33535 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

    .searchbtn {
        color: #fff;
    }
}

.shop-wrapper {
    .shop-bag {
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid #fff;
        border-radius: 100%;

        i {
            margin-left: 4px;
            position: relative;
        }

        :after {
            content: 'C';
            position: absolute;
            background-color: #f33535;
            top: -1rem;
            left: 7px;
            border-radius: 100%;
            width: 1rem;
            height: 1rem;

        }
    }

    .mycart {


        p {

            span {
                color: #f33535;
            }
        }


    }
}



/*****************************Main nav-bar*******************************/
.main-navbar {
    background-color: #f33535;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.userAccount {
    background-color: #e8b30d;
    border-radius: 5px;

    .dropdown {
        #navbarDropdown {
            color: #fff;
        }
    }


}

/*******************************************************************
***************************** Section area start********************
********************************************************************/
#topSection {
    height: 72vh;

    background: #f2f3f7;

    .catagoriMenu {
        background: #fff;
        height: 67.7vh;

        ul {
            padding-left: 0rem;

            li {
                background-color: #fff;
                position: relative;




                &:hover {
                    background-color: #f7f7f7;
                    border-left: 2px solid #f33535;
                }

                h3 {

                    padding: .5rem .7rem !important;
                    font-size: 1rem;
                    color: #fff;
                }

                a {
                    padding: 0.1rem 0.8rem;
                    font-size: 0.8rem;
                    color: #807676;


                    span {

                        i {
                            font-size: 0.8rem;
                            position: absolute !important;
                            top: 17px;
                            right: 0.6rem;
                            color: #9a9292
                        }
                    }
                }
            }
        }
    }

    .background-red {
        background: #f33535 !important;
    }

    /****************slider css***********************/
    .bg-color {
        overflow: hidden !important;

        #carouselExampleControls {
            position: relative;
            height: 67.5vh !important;
            background-color: #f8ddca;

            .carousel-inner {


                .carousel-item {
                    .slidertext {
                        width: 13rem;
                        margin-left: 5rem;
                        margin-bottom: 6rem;

                        h2 {
                            margin-bottom: 2rem;
                        }

                        p {
                            line-height: .6rem;

                            span {
                                font-size: 1.6rem;
                                color: #f33535;

                            }
                        }

                        a {
                            text-align: center;
                            width: 8rem;
                            background: #f33535;
                        }

                    }


                }

                .img-wrapper {
                    width: 65%;
                    height: 79.5vh;

                    .schoolbag {
                        width: 40% !important;
                        margin-left: 14rem;
                        margin-top: 5rem;
                    }

                    .watchimg {
                        width: 58% !important;
                        margin-left: 5rem;
                        margin-top: 4rem;
                    }

                    img {
                        width: 74%;
                        margin-left: 0rem;
                    }
                }
            }



            button {
                position: absolute !important;
                width: 28px !important;
                height: 33px;
                top: 44%;
                border-radius: 5px !important;
            }
        }
    }

    /*********************watch section***********************************/
    .watchCol {
        height: 65vh;

        .watch-div {
            background-color: #95d2f1;
            height: 49%;
            position: relative;

            .watch-content {
                h4 {
                    position: relative;
                    margin-left: .6rem;
                    font-size: 1.3rem;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 25px;
                        left: 2px;
                        background: #000;
                        width: 49%;
                        height: 8%;

                    }
                }

                img {
                    width: 69%;
                    position: absolute;
                    top: 4.3rem;
                    right: 0rem;
                }
            }

        }
    }

    .changeColor {
        background: #f9cdda !important;

        h4 {

            &:after {
                content: "";
                position: absolute;
                top: 25px;
                left: 2px;
                background: #000;
                width: 74% !important;
                height: 8%;

            }
        }
    }
}

/********************shopNow Section******************************/
#shopNow {
    background-color: #f2f3f7;
    padding-bottom: 4rem;

    .menCollection {
        height: 50vh;
        background-image: url("../img/mencollection.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        position: relative;
        transition: all .8s !important;
        margin-top: -1rem;


        &:hover .menText {
            opacity: 1;

        }

        .menText {
            text-align: center;
            background: black;
            width: 9rem;
            padding: 10px 0rem;
            border: 2px solid #fff;
            position: absolute;
            top: 13rem;
            left: 6%;
            opacity: 0;


            a {
                color: #fff;
                font-size: .8rem;
            }
        }

    }

    /*********************Our Service*********************/
    .ourService {
        height: 56vh;
        background: #fff;
        margin-top: 1rem;

        .title {
            background: red;

            h3 {
                margin-left: .6rem;
                font-size: 1rem;
                padding: .5rem 0;
                color: #fff;
            }
        }

        .serviceWrapper {
            ul {

                .servicelist {
                    margin-left: -2.3rem;
                    border-bottom: 1px solid#e2e2e2;
                    height: 12vh;



                    .serviceCntentWrapper {


                        img {
                            width: 34%;
                            max-width: 5rem;
                            margin-top: -.5rem;

                        }

                        .mainContentWrapper {

                            h6 {
                                font-size: .7rem;
                                margin-top: 1rem;
                            }


                            p {
                                font-size: 0.6rem;
                                margin-top: -.3rem;
                            }
                        }

                    }
                }
            }
        }


    }

    .border0 {
        border-bottom: 0px solid !important;
    }

    /******************Best sell***********************/
    .bestSellers {
        height: 58vh;
        background: #fff;
        margin-top: 2rem;

        .besttitle {
            background: red;


            h3 {
                margin-left: .6rem;
                font-size: 1rem;
                padding: .5rem 0;
                color: #fff;
            }
        }

        .bestsellwrapper {
            padding: 0 .5rem;


            .list {
                margin-top: .7rem;
                margin-left: -2rem;
                height: 11vh;

                .imgWrapper {
                    background: #f7f7f7;


                    img {
                        width: 3.5rem;
                    }
                }

                .textPrice {
                    margin-left: .2rem;

                    a {
                        h6 {
                            font-size: .6rem;
                        }
                    }

                    .stars {
                        margin-top: -.4rem;

                        i {
                            font-size: .7rem;
                            color: #feba29;
                        }
                    }

                    .price {
                        p {
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }

    /**************newsletter*******************/
    .newsletter {
        height: 47vh;
        background: #fff;
        margin-top: 2rem;

        .newstitle {
            background: red;


            h3 {
                margin-left: .6rem;
                font-size: 1rem;
                padding: .5rem 0;
                color: #fff;
            }
        }

        .newswrapper {
            margin: 0 .2rem;

            img {
                width: 6rem;
                margin-left: 1.4rem;
            }

            p {
                padding: 0 .6rem;
                font-size: .6rem;
            }

            form {
                input {
                    width: 100%;
                    border: 2px solid #e2e2e2;
                    padding: .4rem;
                    font-size: 0.9rem;
                    text-align: center;
                }

                button {
                    color: #fff;
                    background: #252525 !important;
                    margin-left: 16%;
                    border-radius: 5px !important;
                }
            }
        }
    }

    /****************************exclusive div**********************************/
    .exclusive {
        height: 26vh;
        background: #fff;
        margin-top: 1rem;
        padding: 1rem;
        height: 21vh;
        margin-top: 2rem;

        .excwrapper {
            position: relative;
            border: 3px solid #e2e2e2;
            height: 16vh;


            h6 {
                margin-top: 1.3rem;
                color: #252525;

                &:after {
                    content: '';
                    position: absolute;
                    top: 45px;
                    left: 33px;
                    background: #252525;
                    width: 55%;
                    height: 4%;

                }
            }

            p {
                font-size: .7em;
                font-weight: 700;
                line-height: 1.5rem;
                color: #252525;
            }


        }
    }
}

/*************************************************************************************
*********************************Bye Featured Product Css**************************************
**************************************************************************************/
/************************ship css**********************/
.shipWrapper {
    background: #000;

    .alltextWrapper {

        width: 98%;
        margin: auto;
        padding: .6rem 0;


        .colText {
            p {
                color: #fff;
                font-size: .7rem;
                margin: .4rem 0;

                span {
                    color: #feba29;
                }
            }

            .shopwrapper {
                width: 6rem;
                background: #f33535;
                border-radius: 5px;
                margin: 0 auto;

                a {
                    text-align: center;
                    font-weight: 600;
                    font-size: .8rem;
                }
            }
        }
    }

}

/***************************Featured css***********************************/
.featuredDiv {
    margin-top: 2rem;
    background: #fff;

    .featuredTitleWrapper {
        background: #fff;
        height: 3rem;
        border-left: 2px solid red;
        position: relative;
        margin-bottom: .6rem;

        h1 {
            font-size: .9rem;
            padding: 1rem .4rem;
        }

        #buttonWrapper {
            position: relative;
            width: 2rem;
            margin-left: 93%;
            margin-top: -1rem;

            button {
                position: absolute;
                top: -28px;
                width: 49%;
                height: 1.5rem;
                margin: 0 -.3rem;
                border: 1px solid #000;
                border-radius: 3px !important;
                background: #000 !important;
                color: #000 !important;
            }
        }
    }

    .row-wrapper {
        background: #fff;
        height: 78vh;
        padding: 0 .6rem;


        .cardWrapper {

            height: 39vh;

            .cardimgWrapper {
                background: #f7f7f7;
                height: 9.3rem;

                .new {
                    background: #000;
                    width: 2.5rem;
                    height: 1.2rem;

                    p {
                        color: #fff;
                        text-align: center;
                        font-size: .8rem;
                    }
                }

                img {
                    width: 58%;
                    margin-left: 22%;
                }

                .hovereffect {
                    width: 7.5rem;
                    margin: auto;
                    margin-top: -3rem;

                    .btn {
                        width: 2rem;
                        background: #fff !important;
                        height: 2rem;
                        border-radius: 5px !important;
                        margin-left: 0.4rem;
                        position: relative;
                        border: 1px solid #d9d9d9;

                        .icon {
                            margin-top: -7px;
                            transition: .6s;
                            position: absolute;
                            margin-left: -8px;

                        }

                        &:hover {
                            background: #f33535 !important;
                            border: #f33535;
                            color: #fff;

                        }

                    }
                }
            }

            .cardtextWrapper {
                margin-top: .5rem;
                position: relative;

                p {
                    font-size: .8rem;
                }

                .stars {
                    color: #feba29;
                    font-size: .7rem;
                    margin-top: -0.7rem;

                }

                p {
                    font-size: .8rem;
                    margin-top: .2rem;

                }

                button {
                    position: absolute;
                    width: 8rem;
                    background: hsl(0, 89%, 58%);
                    border-radius: 5px !important;
                    color: #fff;
                    font-size: .8rem;
                    border: none;
                    padding: 0.3rem 0 !important;
                    top: 2.8rem;
                    left: 1rem;
                    opacity: 0;
                    transition: .3s;

                    &:hover {
                        background: #000 !important;

                    }

                    i {
                        color: #fff;
                        font-size: 1.2rem;
                        margin-top: -0.7rem;
                        margin-right: .5rem;
                    }
                }

            }
        }
    }
}

/********************feature hover*********************/
.btn1 {
    opacity: 0;
    transition: .9s;
    transform: translatey(-15px);
}

.btn2 {
    opacity: 0;
    transition: .6s;
    transform: translatey(-15px);

}


.btn3 {
    opacity: 0;
    transition: .3s;
    transform: translatey(-15px);
}

.cardWrapper:hover .btn {
    opacity: 1;
    transform: translatey(10px);
}

.cardWrapper:hover .pred {
    color: #f33535 !important;
}

.cardWrapper:hover button {
    opacity: 1 !important;
}

/********************feature hover end*********************/

/****************************Best laptop div css*************************************/
.bestLaptop {
    margin-top: 2rem;

    .laptopWrapper {
        .laptop {
            background: #f4ad31;
            height: 29vh;
            padding: 0 .5rem;

            .laptopTextWrapper {
                margin: 2.7rem auto;

                h3 {
                    font-size: 1rem;
                    color: #fff;
                    line-height: 1.5rem;
                }

                .buydiv {
                    background: #f33535;
                    width: 8rem;
                    border-radius: 5px;


                    a {
                        font-size: .8rem;
                        color: #fff;
                        text-align: center;
                        font-weight: 700;
                    }
                }

                p {
                    margin-top: .7rem;
                    color: #fff;
                    font-size: .7rem;
                }
            }

            img {

                width: 11rem;
                height: 9rem;
                margin-top: 1rem;
            }
        }

        .tablet {
            background: #f1c12f;
            padding: 0 .5rem;
            height: 29vh;

            .tabletTextWrapper {
                margin: 2.7rem auto;

                h3 {
                    font-size: 1rem;
                    color: #fff;
                    line-height: 1.5rem;
                }

                .buydiv {
                    background: #f33535;
                    width: 8rem;
                    border-radius: 5px;

                    a {
                        font-size: .8rem;
                        color: #fff;
                        text-align: center;
                        font-weight: 700;
                    }
                }

                p {
                    color: #fff;
                    font-size: .7rem;
                    margin-top: .7rem;
                }
            }

            img {
                width: 11rem;
                height: 9rem;
                margin-top: 1rem;
            }
        }
    }
}

/****************************Best laptop div end*************************************/

/****************************Special product Starts*************************************/
#specialProduct {
    margin-top: 2rem;
    background: #fff;

    .specialTitleWrapper {
        background: #fff;
        height: 3rem;
        border-left: 2px solid red;
        position: relative;
        margin-bottom: .6rem;

        h3 {
            font-size: .9rem;
            padding: 1rem .4rem;
        }


        #buttonWrapper2 {
            position: relative;
            width: 2rem;
            margin-left: 93%;
            margin-top: -1rem;

            button {
                position: absolute;
                top: -28px;
                width: 49%;
                height: 1.5rem;
                margin: 0 -.3rem;
                border: 1px solid #000;
                border-radius: 3px !important;
                background: #000 !important;
                color: #000 !important;
            }
        }
    }

    .specialProductWrapper {
        margin: 1rem;

        .specialCard {
            height: 24vh;
            display: flex;
            flex-direction: row;

            &:hover .btn {
                opacity: 1 !important;
            }

            .sepcialimgwrapper {
                width: 48%;
                background: #f7f7f7;

                .salediv {
                    background: #f33535;
                    width: 2rem;

                    p {
                        font-size: .8rem;
                        color: #fff;
                        text-align: center;
                    }
                }

                img {
                    width: 39%;
                    display: block;
                    margin: auto;
                    padding-bottom: 1em;
                }
            }

            .specialTextWapper {
                margin-left: .2rem;

                h3 {
                    font-size: .9rem;
                }

                .stars {
                    color: #feba29;
                    font-size: .7rem;
                    margin-top: -0.7rem;
                    margin: 0 2px;
                }

                p {
                    font-size: .8rem;
                    margin-top: .2rem;
                }

                .allBtnWrapper {
                    display: flex;
                    flex-direction: row;

                    .py-1 {
                        width: 8rem;
                        background: hsl(0, 89%, 58%);
                        border-radius: 5px !important;
                        margin: 0 auto;
                        color: #fff;
                        font-size: .7rem;
                        border: none;
                        padding: .5rem 0 !important;

                        &:hover {
                            background: #000 !important;

                        }

                        i {
                            color: #fff;
                            font-size: 1rem;
                            margin-top: -0.7rem;
                            margin-right: .5rem;
                        }
                    }

                    .hovereffect2 {
                        margin-left: .4rem;


                        .btn {
                            transform: translatey(0px);
                            background: #fff !important;
                            border: 1px solid #000;
                            margin: 0 .1rem;
                            opacity: 0;
                            border-radius: 5px !important;




                            &:hover {
                                background: #f33535 !important;
                                border: 1px solid #f33535 !important;
                                color: #fff;

                            }

                        }
                    }
                }



            }
        }
    }

}


/****************************Special product end*************************************/
/****************************blog start*************************************/
.ourBlog {
    margin-top: 2rem;
    background: #fff;

    .blogTitleWrapper {
        background: #fff;
        height: 3rem;
        border-left: 2px solid red;
        position: relative;
        margin-bottom: .6rem;

        h3 {
            font-size: .9rem;
            padding: 1rem .4rem;
        }

        .buttonWrapper3 {
            position: relative;
            width: 2rem;
            margin-left: 93%;
            margin-top: -1rem;

            button {
                position: absolute;
                top: -28px;
                width: 49%;
                height: 1.5rem;
                margin: 0 -.3rem;
                border: 1px solid #000;
                border-radius: 3px !important;
                background: #000 !important;
                color: #000 !important;
            }
        }
    }

    .blogCardWrapper {
        margin: 1rem;

        .blogCard {


            .blogTextWrapper {
                .datediv {
                    margin-top: .5rem;
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        background: #f33535;
                        top: 32px;
                        left: 87px;
                        width: 20%;
                        height: 3px;

                    }

                    p {
                        font-size: 1rem;
                    }
                }

                .decriptionDiv {
                    h3 {
                        font-size: 1rem;
                        font-weight: 700;
                        color: #f33535;
                    }

                    p {
                        font-size: .8rem;
                    }

                    .blogBtn {
                        background: #000;
                        width: 8rem;
                        border-radius: 5px;
                        margin: 0 auto;

                        &:hover {
                            background: #f33535;
                        }



                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

}

/****************************blog end*************************************/

/****************************Latest product css*************************************/
.brandDiv {
    margin-top: 2rem;
    background: #fff;

    .brandTitleWrapper {
        background: #fff;
        height: 3rem;
        border-left: 2px solid red;
        position: relative;
        margin-bottom: .6rem;

        h3 {
            font-size: .9rem;
            padding: 1rem .4rem;
        }

        .buttonWrapper4 {
            position: relative;
            width: 2rem;
            margin-left: 93%;
            margin-top: -1rem;

            button {
                position: absolute;
                top: -28px;
                width: 49%;
                height: 1.5rem;
                margin: 0 -.3rem;
                border: 1px solid #000;
                border-radius: 3px !important;
                background: #000 !important;
                color: #000 !important;
            }
        }
    }

    .brandcardWrapper {
        width: 105%;

        .allimgWrapper {
            display: flex;
            flex-direction: row;

            .brandimgWrapper {
                width: 17%;
                margin: 0 1%;
                border: 1px solid #252552;

                img {
                    margin-top: .8rem !important;
                    width: 90%;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}

/************************Latest product css end*************************************/

/*********************************Bye Product Css End***********************************/

/*******************************Right site service**************************************/
.dealDiv {
    height: 54vh;
    background: #fff;
    border: 2px solid #f33535;

    .dealtext {
        background: red;

        h3 {
            margin-left: .6rem;
            font-size: 1rem;
            padding: .5rem 0;
            color: #fff;
        }
    }

    .dealContentWrapper {
        padding: 0 0.2rem;



        .imgwrapper {
            background: #f7f7f7;
            height: 19.5vh;

            .new {
                background-color: black;
                width: 2.5rem;

                p {
                    color: #fff;
                    text-align: center;
                    font-size: .7rem;
                }
            }

            img {
                width: 52%;
                margin-top: -1.5rem;
                margin-left: 24%;
            }

            .hovereffect {
                width: 7.5rem;
                margin: auto;
                margin-top: -3.5rem;

                .btn {
                    width: 2rem;
                    background: #fff !important;
                    height: 2rem;
                    border-radius: 5px !important;
                    margin-left: 0.4rem;
                    position: relative;
                    border: 1px solid #d9d9d9;

                    .icon {
                        margin-top: -7px;
                        transition: .6s;
                        position: absolute;
                        margin-left: -8px;

                    }

                    &:hover {
                        background: #f33535 !important;
                        border: #f33535;
                        color: #fff;

                    }

                }
            }
        }

        .priceContentWrapper {


            .stars {
                color: #e8b30d;
                margin-top: -0.8rem;
            }


        }


        .dayCounter {

            width: 82%;
            margin: auto;

            .day {


                #inday {
                    text-align: center;
                    width: 153%;
                    height: 5vh;
                    border-radius: 5px;
                    background: #f7f7f7 !important;
                }


                p {
                    font-size: 0.7rem;
                }
            }


            .hours {
                margin-left: 12%;

                #inhoure {
                    border-radius: 5px;
                    text-align: center;
                    width: 97%;
                    height: 5vh;
                    background: #f7f7f7 !important;
                }

                p {
                    font-size: 0.7rem;
                }
            }

            .minuts {
                margin-left: 2%;

                #inminuts {
                    border-radius: 5px;
                    text-align: center;
                    width: 112%;
                    height: 5vh;
                    background: #f7f7f7 !important;
                }

                p {
                    font-size: 0.7rem;
                }
            }

            .second {
                margin-left: 5%;

                #insecond {
                    border-radius: 5px;
                    text-align: center;
                    width: 153%;
                    height: 5vh;
                    background: #f7f7f7 !important;
                }

                p {
                    font-size: 0.7rem;
                }
            }
        }
    }
}

/*******************Dealhover css**********************/
.btn1 {
    opacity: 0;
    transition: .9s;
    transform: translatey(-15px);
}

.btn2 {
    opacity: 0;
    transition: .6s;
    transform: translatey(-15px);

}


.btn3 {
    opacity: 0;
    transition: .3s;
    transform: translatey(-15px);
}

.dealDiv:hover .btn {
    opacity: 1;
    transform: translatey(10px);
}

/*******************Dealhover css end**********************/
/************************testmonial slider css*********************/
.testImonialDiv {
    background: #fff;
    height: 55vh;
    margin-top: 2rem;

    .testTitleDiv {
        background: red;

        h3 {
            margin-left: .6rem;
            font-size: 1rem;
            padding: .5rem 0;
            color: #fff;
        }


    }

    .testmonialContentWrapper {
        img {
            width: 5rem !important;
            margin-left: 2.5rem;
        }

        p {
            font-size: .9rem;
            color: #757575;
        }

        .imgTextWrapper {
            margin-top: 1.5rem;

            img {
                width: 4rem !important;
                margin-left: 0.5rem;
                height: 4rem;
            }

            .textWrapper {
                margin-top: .7rem;

                h4 {
                    font-size: .7rem;
                }

                p {
                    font-size: .6rem;
                    line-height: .3rem;
                    color: #757575;
                }
            }
        }
    }
}

.testmonialContentWrapper .carousel-control-prev {
    display: none;
}

.testmonialContentWrapper .carousel-control-next {
    display: none;

}

.carousel-indicators {
    top: 15.3rem;
}

.carousel-indicators button {
    width: 9px !important;
    height: 10px !important;
    border-radius: 100% !important;
}

/************************testmonial slider css end*********************/
/*********************fashion bag css**************************/
.fashionbag {
    background: #fff;
    margin-top: 2rem;
    height: 47vh;
    background: #e3dacb;

    .fashiontextWrapper {

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: .8rem;
        }

        a {
            padding: 0.2rem .5rem;
            border: 1px solid black;
            font-size: .8rem;
            color: black;
        }

        img {
            width: 75%;
        }
    }
}

/*********************fashion bag end**************************/
/*******************************latest product*************************/
.latestproduct {
    height: 58vh;
    background: #fff;
    margin-top: 2rem;

    .latestttitle {
        background: red;


        h3 {
            margin-left: .6rem;
            font-size: 1rem;
            padding: .5rem 0;
            color: #fff;
        }
    }

    .latestwrapper {
        padding: 0 .5rem;


        .list {
            margin-top: .7rem;
            margin-left: -2rem;
            height: 11vh;

            .imgWrapper {
                background: #f7f7f7;


                img {
                    width: 3.5rem;
                }
            }

            .textPrice {
                margin-left: .2rem;

                a {
                    h6 {
                        font-size: .6rem;
                    }
                }

                .stars {
                    margin-top: -.4rem;

                    i {
                        font-size: .7rem;
                        color: #feba29;
                    }
                }

                .price {
                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}