@media only screen and (min-width: 769px) and (max-width: 991px) {
    #topSection .bg-color #carouselExampleControls .carousel-inner .carousel-item .slidertext {
        width: 13rem;
        margin-left: 3rem;
        margin-bottom: 6rem;
    }

    #topSection .bg-color #carouselExampleControls .carousel-inner .img-wrapper .schoolbag {
        width: 49% !important;
        margin-left: 7rem;
        margin-top: 4rem;
    }

    #topSection .bg-color #carouselExampleControls .carousel-inner .img-wrapper img {
        width: 128% !important;
        margin-left: -1rem;
    }

    #topSection .watchCol {
        display: flex;
    }

    #topSection .watchCol .watch-div {
        width: 48%;
        margin: 1rem 0;
    }

    #topSection .watchCol .watch-div-2nd {
        margin-left: 2rem;
    }

    #topSection .watchCol .watch-div .watch-content img {
        width: 44%;
        top: 2.3rem;
        max-width: 9rem
    }

    #topSection {
        height: 109vh;
    }

    #topSection .watchCol .watch-div {
        background-color: #95d2f1;
        height: 49%;
        position: relative;
        margin-top: 30px !important;
    }
}