@media only screen and (min-width: 1201px) {

    #carouselExampleControls {

        height: 86vh !important;

    }

    .imgtop {
        top: 3.2rem !important;
    }

    .bestsellwrapper .list .textPrice .price p {
        font-size: .7rem !important;
    }

    .latestproduct .latestwrapper .list .textPrice .price p {
        font-size: .7rem;
    }
}