@media only screen and (min-width: 320px) and (max-width:480px) {
    #topSection {
        height: 140vh;
        background: #f2f3f7;
    }

    #topSection .watchCol .watch-div .watch-content img {
        width: 55% !important;
        max-width: 10rem;
    }

    .smallDNone {
        display: none;
    }

    .justify-content-end.align-items-center {
        width: 7rem;
        margin-left: -2rem !important;
    }

    .categorieform {
        display: none !important;
    }

    #topSection .bg-color {
        display: none;
    }

    .watch-content img {
        width: 48% !important;
        top: 1.3rem !important;

    }
}