@media only screen and (min-width: 992px) and (max-width:1024px) {
    .remove {
        display: none;
    }

    #topSection .catagoriMenu ul li a span i {
        right: 0.4rem;
    }

    #carouselExampleControls .carousel-inner .carousel-item .slidertext {

        margin-left: 4.5rem !important;
        width: 13rem !important;

    }

    #carouselExampleControls .carousel-inner .img-wrapper .first-img {
        width: 112% !important;
        margin-left: 0rem !important;
    }

    #topSection .bg-color #carouselExampleControls .carousel-inner .img-wrapper .schoolbag {
        margin-left: 9rem !important;
    }

    #topSection .bg-color #carouselExampleControls .carousel-inner .img-wrapper .watchimg {
        margin-left: 7rem !important;
    }

    .watch-div .watch-content img {
        width: 89% !important;
        top: 3.6rem !important;
    }

    #shopNow .menCollection {
        height: 39vh;
    }

    #shopNow .menCollection .menText {
        top: 10rem;
        left: 5%;
        width: 8rem;
    }

    #shopNow .bestSellers .bestsellwrapper .list .imgWrapper img {
        width: 3rem;
    }

    #shopNow .bestSellers .bestsellwrapper .list .textPrice .stars i {
        font-size: 0.5rem;
        color: #feba29;
    }

    del {
        display: none;
    }

    #shopNow .newsletter .newswrapper form input {
        font-size: 0.8rem;
    }

    #shopNow .newsletter .newswrapper form button {
        margin-left: 7%;
    }

    .latestwrapper .list .imgWrapper img {
        width: 3rem;
    }

    .latestproduct .latestwrapper .list .textPrice .stars i {
        font-size: 0.5rem;
    }

    #shopNow .exclusive .excwrapper h6 {
        margin-top: 1rem;
        color: #252525;
    }

    .dealDiv .dealtext h3 {
        margin-left: 0.6rem;
        font-size: .8rem;
        padding: 0.5rem 0;
        color: #fff;
    }

    .priceContentWrapper p {
        text-align: center !important;
        font-size: .9rem;
    }

    .carousel-inner .carousel-item .slidertext {
        width: 12rem;
        margin-left: 3.5rem !important;
        margin-bottom: 6rem;
        z-index: 1;
    }

    .dealDiv .dealContentWrapper .dayCounter {
        width: 101%;
        margin: auto;
    }

    #shopNow .exclusive .excwrapper h6::after {
        content: "";
        position: absolute;
        top: 41px;
        left: 23px;
        background: #252525;
        width: 55%;
        height: 4%;
    }

    #topSection .catagoriMenu ul li {

        padding: .7rem 0rem;

    }

    #carouselExampleControls {

        height: 67vh !important;

    }

    #carouselExampleControls .carousel-inner .img-wrapper img {
        width: 138% !important;
        margin-left: -5rem !important;
    }

    .carousel-inner .carousel-item .slidertext {
        width: 12rem;
        margin-left: 1.5rem !important;
        margin-bottom: 6rem;
        z-index: 1;
    }

    .watch-content img {
        width: 22% !important;

        top: -0.4rem !important;

    }
}