/** Small devices (landscape phones, 576px and up)**/
@media (min-width: 320px) {
    #topSection .watchCol .watch-div .watch-content img {
        top: 0.3rem;
        max-width: 9rem !important;
    }

    #topSection .bg-color #carouselExampleControls .carousel-inner .carousel-item .slidertext {
        width: 14rem;
        margin-left: 3rem;
        margin-bottom: 6rem;
    }

    #topSection .bg-color #carouselExampleControls .carousel-inner .img-wrapper img {
        width: 130% !important;
        margin-left: -3rem;
    }

    #topSection .bg-color #carouselExampleControls .carousel-inner .img-wrapper .schoolbag {
        width: 53% !important;
        margin-left: 5rem;
        margin-top: 5rem;
    }

    #shopNow .menCollection {
        background-size: 89%;
    }

    #shopNow .menCollection .menText {
        width: 11rem;
        top: 13rem;
        left: 12%;
    }

    .mainContentWrapper h6 {
        font-size: 1rem !important;
    }

    #shopNow .ourService .serviceWrapper ul .servicelist .serviceCntentWrapper .mainContentWrapper p {
        font-size: 0.8rem;
    }

    #shopNow .bestSellers .bestsellwrapper .list .textPrice a h6 {

        font-size: 1rem;

    }

    
    #shopNow .exclusive .excwrapper h6::after {
        left: 34%;
        width: 32%;
    }

    .forresponsive .dealDiv .dealContentWrapper .imgwrapper {
        background: #f7f7f7;
        height: 30vh;
    }

    .testImonialDiv .testmonialContentWrapper img {
        width: 5rem !important;
        margin: auto;
    }

    .fashionbag .fashiontextWrapper img {
        width: 75%;
        max-width: 9rem;
    }

    .latestproduct .latestwrapper .list .textPrice a h6 {
        font-size: 1rem;
    }

    .latestproduct .latestwrapper .list .textPrice .stars i {
        font-size: 0.8rem;
    }

    .shipWrapper .alltextWrapper .colText .shopwrapper {
        margin-left: -2.2rem;
    }

    .featuredDiv .featuredTitleWrapper #buttonWrapper {
        margin-left: 91%;
    }

    #specialProduct .specialProductWrapper .specialCard .sepcialimgwrapper img {
        max-width: 5rem;
    }

    #specialProduct .specialTitleWrapper #buttonWrapper2 {
        margin-left: 91%;
    }

    .ourBlog .blogTitleWrapper .buttonWrapper3 {
        margin-left: 91%;
    }

    .brandDiv .brandTitleWrapper .buttonWrapper4 {
        margin-left: 91%;
    }


    .featuredDiv .row-wrapper .cardWrapper .cardtextWrapper button {
        width: 9rem;
        left: 22%;
    }

    .ourBlog .blogCardWrapper .blogCard .blogTextWrapper .decriptionDiv p {
        font-size: 0.7rem;
    }

    .ourBlog .blogCardWrapper .blogCard .blogTextWrapper .datediv::after {
        left: 35%;
        width: 31%;
    }

    #shopNow .menCollection {
        display: none;
    }

    .featuredDiv .row-wrapper .cardWrapper .cardtextWrapper button {
        width: 9rem;
        left: 38%;
    }

    .shipWrapper .alltextWrapper .colText .shopwrapper {
        margin-left: 36.8%;
    }

    .featuredDiv .featuredTitleWrapper #buttonWrapper {
        margin-left: 84%;
    }

    #specialProduct .specialTitleWrapper #buttonWrapper2 {
        margin-left: 84%;
    }

    .ourBlog .blogTitleWrapper .buttonWrapper3 {
        margin-left: 84%;
    }

    .brandDiv .brandTitleWrapper .buttonWrapper4 {
        margin-left: 84%;
    }

    .featuredDiv .row-wrapper .cardWrapper .cardtextWrapper button {
        left: 25%;
    }

    .bestLaptop .laptopWrapper .tablet img {
        width: 10rem;
    }

}

@media (max-width: 420px) {
    #specialProduct .specialProductWrapper .specialCard .specialTextWapper .allBtnWrapper {
        flex-direction: column;
    }

    #specialProduct .specialProductWrapper .specialCard .specialTextWapper .allBtnWrapper .hovereffect2 {
        margin-left: 1.4rem;
        margin-top: .5rem;
    }

    .infoWrapper .infoTitle h3 {
        font-size: .8rem;
    }

    .accountwrapper h3 {
        font-size: .8rem;
    }

    .extrasWrapper .extrasTitle h3 {
        font-size: .8rem;
    }

    #topSection .catagoriMenu {
        height: auto;
    }


   
}